.image {
  display: flex;
  justify-content: center;
}
button {
  max-width: 100px;
  max-height: 100px;
  padding: 10px;
  background-color: blue;
  color: white;
  border: 3px 1 black;

  border-radius: 6px;
  cursor: pointer;
}

.answer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.lesson {
  width: 1200px;
  margin: 30px auto;
}